* {
  margin: 0;
  padding: 0;
}
body{
  color: white;
  background-color: #050e54;
}
.font{
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
a{
  color: white;
  text-decoration: none;
}
.main-container{
  background-color: #050e54;
}

nav {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  width: 100%;
  height: 14vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav h1 {
  font-size: medium;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav ul li {
  margin: 0 10px;
  font-size: x-small;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

nav div {
  display: none;
}

.container {
  display: flex;
  width: 100%;
  margin: 30px 0 ;
  flex-wrap: nowrap;
}

.image {
  background-image: url("./Images/myImage.png");
  background-size:cover;
  padding: 60px 60px 38px 30px;
  border-radius: 50%;
}

.left{
  margin: 0 60px;
}

.right{
  margin: 20px ;
}
.right p{
  font-size: x-small;
}

.skill{
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  margin-top: 70px;
  margin-bottom: 30px;
}
.skillItems{
  margin: 20px -30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.skillItems ul{
  list-style: none;
  margin-top: 20px;
}
.skillItems ul li{
  font-size: small;
  margin: 3px 0;
}
.orange{
  color: rgb(255, 98, 0);
}
.blue{
  color: rgb(0, 38, 255);
}
.yellow{
  color: yellow;
}
.purple{
  color: rgb(149, 21, 149);
}
.green{
  color: rgb(14, 188, 14);
}
.projects h2{
  margin: 0 25px;
}
.projects{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.projectItems{
  display: flex;
  flex-direction: row;
  margin: 20px 25px;
  justify-content: space-around;
}
.projects img{
  height: 30vh;
  width: 60vh;
  border-radius: 4px;
}
.pitems{
  margin-right: 10px;
}
.contact{
  margin: 30px 30px;
}
.contact ul{
  margin: 20px 0;
}
.contact ul li{
  margin: 5px 0;
}
.contact ul{
   list-style: none;
}
@media only screen and (max-width: 500px) {
  nav ul{
    margin: 0 24px;
  }
  nav ul li{
    margin-right: 30px;
    font-size: large;
  }
  nav h1{
    display: none;
  }
  nav div {
    display: inline-block;
    position: absolute;
    right: 40px;
    padding: 4px 8px;
  }
  nav div :hover {
    transition: all 200ms ease-in-out;
    box-shadow: rgba(0, 208, 255, 0.3) 0px 0px 0px 6px;
  }
  nav {
    height: 10vh;
    justify-content: flex-start;
  }
  nav h1 {
    margin: 0 50px;
    font-size: larger;
  }
  .container{
     flex-wrap: wrap;
     justify-content: center;
  }

  .right{
    text-align: center;
    margin: 60px 10px;
  }
  .right p{
    font-size: large;
  }
  .image{
   padding: 120px 120px 68px 60px;
  }
  .skillItems{
    flex-wrap: wrap;
    margin: 30px 0;
  }
  .skillItems ul li{
    margin: 10px 0;
  }
  .skillItems h5{
    width: 130px;
    font-size: x-large;
    margin: 0 0;
  }
  .databases{
    margin: 20px 0;
  }
  .deployment{
    margin: 20px 0;
  }
  .skill{
    margin: 0 0;
  }
  .skill h2{
    margin: 0 23px;
    font-size: xx-large;
  }
  .skillItems ul li{
    font-size: large;
  }
  .projects{
    margin: 20px 0;
  }
  .projects h2{
    margin: 0 23px;
    width: 130px;
    font-size: xx-large;
  }
  .projectItems{
    flex-wrap: wrap;
    margin: 30px 25px;
    justify-content: flex-start;
  }
  .projects img{
   height: 15vh;
   width: 30vh;
  }
  .pitems{
    margin: 20px 0;
    font-size: x-large;
  }
  .pitems h6{
    margin: 10px 0;
  }
  .contact h2{
    width: 130px;
    font-size: xx-large;
    margin: 0 0;
  }
  .contact ul li{
    font-size: x-large;
    margin: 10px 0;
  }
  .contact ul{
    margin: 40px 0;
  }
}
